h1
{
  text-align: center;
  color: blue;
  padding: 20px;
  margin: 15px;
  background-color: silver;
}
#menu {
  list-style-type: none;
	margin: 15px;
	padding: 0px;
	overflow: hidden;
	background-color: black;
}
#menu li {
  float: left;
}
#menu li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 20px;
 }
 #menu li a:hover {
    background-color: blue;
 }
#footer {
  margin: 15px;
	padding: 20px;
  text-align: center;
  background-color: black;
  color: pink;
}
